templates/extract-supplier-catalog-to-spreadsheet.json
{
  "name": "Extract Supplier Catalog to Spreadsheet",
  "nodes": [
    {
      "parameters": {
        "content": "## Extract Supplier Catalog to Spreadsheet\n\nE-commerce buyers and merchandising teams use this recipe to onboard new suppliers without manual data entry. Drop in a catalog PDF, extract every product into structured rows, and export a clean XLSX ready to import into Shopify, a PIM, or an internal inventory system.\n\n**Note:** This workflow uses the Iteration Layer community node (`n8n-nodes-iterationlayer`). Install it via Settings > Community Nodes on self-hosted n8n, or add it directly on n8n Cloud with Verified Community Nodes enabled.",
        "height": 280,
        "width": 500,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        200,
        40
      ],
      "id": "8c2f7dc4-ce1b-44ef-bd76-70126efdfc59",
      "name": "Overview"
    },
    {
      "parameters": {
        "content": "### Step 1: Extract Product Catalog\nResource: **Document Extraction**\n\nConfigure the Document Extraction parameters below, then connect your credentials.",
        "height": 160,
        "width": 300,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        475,
        100
      ],
      "id": "df465266-3879-48da-8da6-86e539e9cb5e",
      "name": "Step 1 Note"
    },
    {
      "parameters": {
        "content": "### Step 2: Generate Product Import Sheet\nResource: **Sheet Generation**\n\nConfigure the Sheet Generation parameters below, then connect your credentials.",
        "height": 160,
        "width": 300,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        725,
        100
      ],
      "id": "d82b8787-116a-4f22-86ed-3a7298886e56",
      "name": "Step 2 Note"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "id": "d9e0f1a2-b3c4-5678-9d34-678901234567",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "resource": "documentExtraction",
        "schemaInputMode": "rawJson",
        "schemaJson": "[\n  {\n    \"name\": \"products\",\n    \"type\": \"ARRAY\",\n    \"description\": \"One entry per product in the catalog\",\n    \"children\": [\n      {\n        \"name\": \"sku\",\n        \"type\": \"TEXT\",\n        \"description\": \"Product SKU or item code\"\n      },\n      {\n        \"name\": \"product_name\",\n        \"type\": \"TEXT\",\n        \"description\": \"Full product name\"\n      },\n      {\n        \"name\": \"description\",\n        \"type\": \"TEXT\",\n        \"description\": \"Short product description\"\n      },\n      {\n        \"name\": \"unit_price\",\n        \"type\": \"CURRENCY_AMOUNT\",\n        \"description\": \"Unit price\"\n      },\n      {\n        \"name\": \"currency\",\n        \"type\": \"CURRENCY_CODE\",\n        \"description\": \"Price currency\"\n      },\n      {\n        \"name\": \"moq\",\n        \"type\": \"INTEGER\",\n        \"description\": \"Minimum order quantity\"\n      },\n      {\n        \"name\": \"category\",\n        \"type\": \"TEXT\",\n        \"description\": \"Product category\"\n      }\n    ]\n  }\n]",
        "files": {
          "fileValues": [
            {
              "inputMode": "url",
              "fileUrl": "https://example.com/suppliers/catalog-spring-2026.pdf"
            }
          ]
        }
      },
      "type": "n8n-nodes-iterationlayer.iterationLayer",
      "typeVersion": 1,
      "position": [
        500,
        300
      ],
      "id": "e0f1a2b3-c4d5-6789-0e45-789012345678",
      "name": "Extract Product Catalog",
      "credentials": {
        "iterationLayerApi": {
          "id": "1",
          "name": "Iteration Layer API"
        }
      }
    },
    {
      "parameters": {
        "resource": "sheetGeneration",
        "sheetFormat": "xlsx",
        "sheetsJson": "[\n  {\n    \"name\": \"Product Import \u2014 Spring 2026\",\n    \"columns\": [\n      { \"name\": \"SKU\", \"width\": 14 },\n      { \"name\": \"Product Name\", \"width\": 32 },\n      { \"name\": \"Description\", \"width\": 40 },\n      { \"name\": \"Category\", \"width\": 18 },\n      { \"name\": \"Unit Price\", \"width\": 14 },\n      { \"name\": \"Currency\", \"width\": 10 },\n      { \"name\": \"MOQ\", \"width\": 10 }\n    ],\n    \"rows\": \"{{ $json.products }}\"\n  }\n]",
        "sheetStylesJson": "{\n  \"header\": {\n    \"font_family\": \"Helvetica\",\n    \"font_size_in_pt\": 11,\n    \"is_bold\": true,\n    \"background_color\": \"#0F4C81\",\n    \"font_color\": \"#FFFFFF\"\n  },\n  \"body\": {\n    \"font_family\": \"Helvetica\",\n    \"font_size_in_pt\": 11,\n    \"font_color\": \"#1A1A1A\"\n  }\n}"
      },
      "type": "n8n-nodes-iterationlayer.iterationLayer",
      "typeVersion": 1,
      "position": [
        750,
        300
      ],
      "id": "f1a2b3c4-d5e6-7890-1f56-890123456789",
      "name": "Generate Product Import Sheet",
      "credentials": {
        "iterationLayerApi": {
          "id": "1",
          "name": "Iteration Layer API"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Extract Product Catalog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Product Catalog": {
      "main": [
        [
          {
            "node": "Generate Product Import Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
