templates/extract-resume-and-generate-profile.json
{
  "name": "Extract resume data and generate employee profile in Iteration Layer",
  "nodes": [
    {
      "parameters": {
        "content": "## Extract Resume Data and Generate an Employee Profile\n\nStaffing agencies and HR departments use this pipeline to accelerate onboarding — extracting key details from a candidate's resume and generating a standardized employee profile document ready for internal systems.\n\n**Note:** This workflow uses the Iteration Layer community node (`n8n-nodes-iterationlayer`). Install it via Settings > Community Nodes on self-hosted n8n, or add it directly on n8n Cloud with Verified Community Nodes enabled.",
        "height": 280,
        "width": 500,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [200, 40],
      "id": "e5f6a7b8-c9d0-1234-efab-234567890101",
      "name": "Overview"
    },
    {
      "parameters": {
        "content": "### Step 1: Extract Resume Data\nResource: **Document Extraction**\n\nConfigure the Document Extraction parameters below, then connect your credentials.",
        "height": 160,
        "width": 300,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [475, 100],
      "id": "e5f6a7b8-c9d0-1234-efab-234567890102",
      "name": "Step 1 Note"
    },
    {
      "parameters": {
        "content": "### Step 2: Generate Employee Profile\nResource: **Document Generation**\n\nConfigure the Document Generation parameters below, then connect your credentials.",
        "height": 160,
        "width": 300,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [725, 100],
      "id": "e5f6a7b8-c9d0-1234-efab-234567890103",
      "name": "Step 2 Note"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "id": "e5f6a7b8-c9d0-1234-efab-234567890104",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "resource": "documentExtraction",
        "schemaInputMode": "rawJson",
        "schemaJson": "{\"fields\":[{\"name\":\"full_name\",\"type\":\"TEXT\",\"description\":\"Candidate full name\"},{\"name\":\"email\",\"type\":\"EMAIL\",\"description\":\"Email address\"},{\"name\":\"phone\",\"type\":\"TEXT\",\"description\":\"Phone number\"},{\"name\":\"address\",\"type\":\"ADDRESS\",\"description\":\"Home address\"},{\"name\":\"job_title\",\"type\":\"TEXT\",\"description\":\"Most recent job title\"},{\"name\":\"employer\",\"type\":\"TEXT\",\"description\":\"Most recent employer\"},{\"name\":\"years_of_experience\",\"type\":\"INTEGER\",\"description\":\"Total years of professional experience\"},{\"name\":\"education\",\"type\":\"TEXT\",\"description\":\"Highest degree and institution\"},{\"name\":\"skills\",\"type\":\"TEXTAREA\",\"description\":\"Key skills listed on the resume\"}]}",
        "files": {
          "fileValues": [
            {
              "fileInputMode": "url",
              "fileName": "resume-elena-vasquez.pdf",
              "fileUrl": "https://example.com/resumes/elena-vasquez-2026.pdf"
            }
          ]
        }
      },
      "type": "n8n-nodes-iterationlayer.iterationLayer",
      "typeVersion": 1,
      "position": [500, 300],
      "id": "e5f6a7b8-c9d0-1234-efab-234567890105",
      "name": "Extract Resume Data",
      "credentials": {
        "iterationLayerApi": { "id": "1", "name": "Iteration Layer API" }
      }
    },
    {
      "parameters": {
        "resource": "documentGeneration",
        "format": "pdf",
        "documentJson": "{\n  \"metadata\": {\n    \"title\": \"Employee Profile — {{ $json.full_name }}\",\n    \"author\": \"Apex Staffing Solutions\"\n  },\n  \"page\": {\n    \"size\": { \"preset\": \"A4\" },\n    \"margins\": { \"top_in_pt\": 54, \"right_in_pt\": 54, \"bottom_in_pt\": 54, \"left_in_pt\": 54 }\n  },\n  \"content\": [\n    { \"type\": \"headline\", \"level\": \"h1\", \"text\": \"Employee Profile\" },\n    { \"type\": \"headline\", \"level\": \"h2\", \"text\": \"{{ $json.full_name }}\" },\n    { \"type\": \"separator\" },\n    { \"type\": \"table\", \"header\": { \"cells\": [{ \"text\": \"Field\" }, { \"text\": \"Details\" }] }, \"rows\": [{ \"cells\": [{ \"text\": \"Email\" }, { \"text\": \"{{ $json.email }}\" }] }, { \"cells\": [{ \"text\": \"Phone\" }, { \"text\": \"{{ $json.phone }}\" }] }, { \"cells\": [{ \"text\": \"Current Title\" }, { \"text\": \"{{ $json.job_title }}\" }] }, { \"cells\": [{ \"text\": \"Current Employer\" }, { \"text\": \"{{ $json.employer }}\" }] }, { \"cells\": [{ \"text\": \"Experience\" }, { \"text\": \"{{ $json.years_of_experience }} years\" }] }, { \"cells\": [{ \"text\": \"Education\" }, { \"text\": \"{{ $json.education }}\" }] }] },\n    { \"type\": \"separator\" },\n    { \"type\": \"headline\", \"level\": \"h3\", \"text\": \"Key Skills\" },\n    { \"type\": \"paragraph\", \"runs\": [{ \"text\": \"{{ $json.skills }}\" }] },\n    { \"type\": \"separator\" },\n    { \"type\": \"paragraph\", \"runs\": [{ \"text\": \"Prepared by Apex Staffing Solutions — Confidential\" }] }\n  ]\n}"
      },
      "type": "n8n-nodes-iterationlayer.iterationLayer",
      "typeVersion": 1,
      "position": [750, 300],
      "id": "e5f6a7b8-c9d0-1234-efab-234567890106",
      "name": "Generate Employee Profile",
      "credentials": {
        "iterationLayerApi": { "id": "1", "name": "Iteration Layer API" }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Extract Resume Data", "type": "main", "index": 0 }]]
    },
    "Extract Resume Data": {
      "main": [[{ "node": "Generate Employee Profile", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
