templates/extract-rental-applications-to-spreadsheet.json
{
  "name": "Extract Rental Applications to Spreadsheet",
  "nodes": [
    {
      "parameters": {
        "content": "## Extract Rental Applications to Spreadsheet\n\nProperty managers and landlords use this recipe to compare rental applicants side by side without manually reading each PDF. Pass multiple application files, extract the key fields, and get a clean XLSX ready for shortlisting before scheduling viewings.\n\n**Note:** This workflow uses the Iteration Layer community node (`n8n-nodes-iterationlayer`). Install it via Settings > Community Nodes before importing. Self-hosted n8n only.",
        "height": 280,
        "width": 500,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        200,
        40
      ],
      "id": "684d20cc-481f-4249-bd45-c3736d02ef0a",
      "name": "Overview"
    },
    {
      "parameters": {
        "content": "### Step 1: Extract Application Data\nResource: **Document Extraction**\n\nConfigure the Document Extraction parameters below, then connect your credentials.",
        "height": 160,
        "width": 300,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        475,
        100
      ],
      "id": "986f423e-e74a-4c0f-8567-3342364af44d",
      "name": "Step 1 Note"
    },
    {
      "parameters": {
        "content": "### Step 2: Generate Comparison Spreadsheet\nResource: **Sheet Generation**\n\nConfigure the Sheet Generation parameters below, then connect your credentials.",
        "height": 160,
        "width": 300,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        725,
        100
      ],
      "id": "3e6217dd-3fa2-402b-9dc2-c47970732ce7",
      "name": "Step 2 Note"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "id": "a6b7c8d9-e0f1-2345-6a01-345678901234",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "resource": "documentExtraction",
        "schemaInputMode": "rawJson",
        "schemaJson": "[\n  {\n    \"name\": \"applications\",\n    \"type\": \"ARRAY\",\n    \"description\": \"One entry per rental application\",\n    \"children\": [\n      {\n        \"name\": \"applicant_name\",\n        \"type\": \"TEXT\",\n        \"description\": \"Full name of applicant\"\n      },\n      {\n        \"name\": \"email\",\n        \"type\": \"EMAIL\",\n        \"description\": \"Applicant email address\"\n      },\n      {\n        \"name\": \"monthly_income\",\n        \"type\": \"CURRENCY_AMOUNT\",\n        \"description\": \"Stated monthly income\"\n      },\n      {\n        \"name\": \"currency\",\n        \"type\": \"CURRENCY_CODE\",\n        \"description\": \"Income currency\"\n      },\n      {\n        \"name\": \"employer\",\n        \"type\": \"TEXT\",\n        \"description\": \"Current employer name\"\n      },\n      {\n        \"name\": \"employment_status\",\n        \"type\": \"ENUM\",\n        \"description\": \"Employment status\",\n        \"values\": [\"Full-time\", \"Part-time\", \"Self-employed\", \"Unemployed\", \"Retired\"]\n      },\n      {\n        \"name\": \"desired_move_in_date\",\n        \"type\": \"DATE\",\n        \"description\": \"Requested move-in date\"\n      },\n      {\n        \"name\": \"has_pets\",\n        \"type\": \"BOOLEAN\",\n        \"description\": \"Whether the applicant has pets\"\n      }\n    ]\n  }\n]",
        "files": {
          "fileValues": [
            {
              "inputMode": "url",
              "fileUrl": "https://example.com/applications/application-chen.pdf"
            },
            {
              "inputMode": "url",
              "fileUrl": "https://example.com/applications/application-okafor.pdf"
            },
            {
              "inputMode": "url",
              "fileUrl": "https://example.com/applications/application-petrov.pdf"
            }
          ]
        }
      },
      "type": "n8n-nodes-iterationlayer.iterationLayer",
      "typeVersion": 1,
      "position": [
        500,
        300
      ],
      "id": "b7c8d9e0-f1a2-3456-7b12-456789012345",
      "name": "Extract Application Data",
      "credentials": {
        "iterationLayerApi": {
          "id": "1",
          "name": "Iteration Layer API"
        }
      }
    },
    {
      "parameters": {
        "resource": "sheetGeneration",
        "sheetFormat": "xlsx",
        "sheetsJson": "[\n  {\n    \"name\": \"Rental Applications \u2014 14 Birchwood Lane\",\n    \"columns\": [\n      { \"name\": \"Applicant\", \"width\": 22 },\n      { \"name\": \"Email\", \"width\": 28 },\n      { \"name\": \"Employment\", \"width\": 16 },\n      { \"name\": \"Employer\", \"width\": 22 },\n      { \"name\": \"Monthly Income\", \"width\": 16 },\n      { \"name\": \"Currency\", \"width\": 10 },\n      { \"name\": \"Move-in Date\", \"width\": 14 },\n      { \"name\": \"Pets\", \"width\": 8 }\n    ],\n    \"rows\": \"{{ $json.applications }}\"\n  }\n]",
        "sheetStylesJson": "{\n  \"header\": {\n    \"font_family\": \"Helvetica\",\n    \"font_size_in_pt\": 11,\n    \"is_bold\": true,\n    \"background_color\": \"#4A5568\",\n    \"font_color\": \"#FFFFFF\"\n  },\n  \"body\": {\n    \"font_family\": \"Helvetica\",\n    \"font_size_in_pt\": 11,\n    \"font_color\": \"#1A1A1A\"\n  }\n}"
      },
      "type": "n8n-nodes-iterationlayer.iterationLayer",
      "typeVersion": 1,
      "position": [
        750,
        300
      ],
      "id": "c8d9e0f1-a2b3-4567-8c23-567890123456",
      "name": "Generate Comparison Spreadsheet",
      "credentials": {
        "iterationLayerApi": {
          "id": "1",
          "name": "Iteration Layer API"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Extract Application Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Application Data": {
      "main": [
        [
          {
            "node": "Generate Comparison Spreadsheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
